---
title : profile
layout : tataletak.njk
nama: Firman Manalu
---
<img src="https://pict-a.sindonews.net/dyn/620/content/2017/07/04/158/1217905/spesial-one-piece-ceritakan-masa-kecil-bajak-laut-topi-jerami-85U.jpg"> 
<h3>Ich bin</h3>
<h1>{{nama}}</h1>
